# =============== #
# UNITY GENERATED #
# =============== #
[Tt]emp/
[Ll]ibrary/

# ======================= #
# VISUAL STUDIO GENERATED #
# ======================= #
ExportedObj/
obj/
bin/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS GENERATED #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Tt]humbs.db.meta

# ============= #
# MISCELLANEOUS #
# ============= #
*.cache

# ============= #
# REPO SPECIFIC #
# ============= #
[Oo]bj/
[Bb]uilds/
[Gg]ltch.apk
sysinfo.txt
build_info.txt


